<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="aghbibtex">
         <property
               name="appName"
               value="aghbibtex">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://pl.edu.agh.toik.aghbibtex/pl.edu.agh.toik.aghbibtex.lifecycle.Manager">
         </property>
      </product>
   </extension>

</plugin>
