<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="Persistence"
         name="Persistence"
         point="pl.edu.agh.toik.aghbibtex.persistence">
      <BibtexPersistence
            class="pl.edu.agh.toik.aghbibtex.persistence.contribution.BibtexRepository"
            id="pl.edu.agh.toik.aghbibtex.persistence.contribution.BibtexPersistence">
      </BibtexPersistence>
   </extension>

</plugin>
