<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="pl.edu.agh.toik.aghbibtex.model.BibtexEntryConverter"
         point="pl.edu.agh.toik.aghbibtex.model.BibtexEntryConverter">
      <BibtexEntryConverter
            class="pl.edu.agh.toik.aghbibtex.model.contribution.BibtexEntryConverter"
            id="pl.edu.agh.toik.aghbibtex.model.BibtexEntryConverter">
      </BibtexEntryConverter>
   </extension>

</plugin>
