<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="pl.edu.agh.toik.aghbibtex.model.pl.edu.agh.toik.aghbibtex.model">
      <BibtexExporter
            class="pl.edu.agh.toik.aghbibtex.model.contribution.BibtexExporter"
            id="pl.edu.agh.toik.aghbibtex.model.contribution.BibtexExporter">
      </BibtexExporter>
      <BibtexImporter
            class="pl.edu.agh.toik.aghbibtex.model.contribution.BibtexImporter"
            id="pl.edu.agh.toik.aghbibtex.model.contribution.BibtexImporter">
      </BibtexImporter>
   </extension>

</plugin>
